fastapi
uvicorn
langchain
pydantic
requests
python-multipart
streamlit
psycopg2-binary
google-generativeai
langchain-groq
PyMuPDF
Pillow
pytesseract
altair
pandas
passlib
bcrypt
python-jose[cryptography]

